body {
    /* background-color: yellow; */
    font-family: 'Heebo', sans-serif;
    border: solid black 5px;

}
 
a {
  text-decoration: none;
  font-size: 4vw;
    width: 100px;
    color: rebeccapurple;
    padding: 2vw;
}


ul {

  display: flex;
  justify-content: center;


}

  li {
    margin: 2vw;
    padding: 3vw;
    display: flex;
    justify-content: space-around;

  }
  
  a:visited{
    color: rgb(50,50,50)
  }

  a:hover{
    color: pink;
  }

  iframe {
    width: 100%;
   }

   img {
    width: 10vw;
    padding: 3vw;
    margin-left: 100px;
    /* background-color: pink; */
    border: solid black 5px;
   }

