body {
  background-color: yellow;
  font-family: 'Heebo', sans-serif;
}


h1 {
  margin-left: auto;
  margin-right:auto;
  font-size: 10vw;

}

iframe {
 width: 50vw;
}
main {
  display: flex;
}

a {
  text-decoration: none;
 
  font-size: 7vw;
}

a:visited{
  color: rgb(50,50,50)
}

a:hover{
  color: pink;
}